@import "tailwindcss";
@plugin "@tailwindcss/typography";
body{
  font-family: 'Archivo';
}
@theme {
    --font-archivo: "Archivo", "sans-serif";
  }

.prose-code {
  background-color: aqua;
  color: red;
}